# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# SQLite database
*.sqlite3

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

